<%- include('../partials/header') %>
    <div class="container">
        <!-- <ul class="list-group"> -->
            <% cart.items.forEach(item => { %>
                <% i = item.itemid %>
                <div class="card mb-3" style="max-width: 540px; margin: auto">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="/images/items/<%=i.imageUrl%>" class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <div class="d-flex justify-content-between">
                            <h5 class="card-title"><%=i.itemname%></h5>
                            <button class="btn btn-sm del-cart" __val="<%=item._id%>"><img src="/icons/bin.svg" alt="del"/></button>
                          </div>
                          <p class="card-text"><%=moment(item.date).format('MMM-DD-YYYY')%></p>
                          <p class="card-text"><%=i.description%></p>
                          <p class="card-text">$<%=i.price%></p>
                          <p class="card-text">Size: <%=item.size%>, Quantity: <%=item.quantity%></p>
                        </div>
                      </div>
                    </div>
                </div>
            <% }) %>
        <!-- </ul> -->
    </div>
<%- include('../partials/footer') %>
