<%- include('../partials/header') %>
    <div class="container">
        <div class="row justify-content-center space-around">
            <% items.forEach(item => { %>
                <div class="card" style="width: 15rem;">
                    <img src="/images/items/<%=item.imageUrl%>" class="card-img-top img-thumbnail" alt="item image">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h5 class="card-title"><%=item.itemname%></h5>
                        <p class="card-text"><%=item.description%></p>
                        <div class="mt-auto p-2">
                            <a href="/items/view/<%=item._id%>" class="btn btn-sm"><img src="/icons/view.svg" class="icon" alt="View"/></a>
                            <% if (user && user.type === 'admin') {%>
                                <a href="/items/edit/<%=item._id%>" class="btn btn-sm"><img src="/icons/edit.svg" class="icon" alt="Edit"/></a>
                                <button class="btn btn-sm"><img src="/icons/bin.svg" class="icon" alt="Delete"/></button>
                            <%}%>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        <div class="row justify-content-center space-around pagination">
            <% if (page > 1) { %>
                <span><a href="/items/?page=<%=Number(page)-1%>">< prev</a></span>
            <% } %>
            <span><%=page%></span>
            <% if (Number(page) + 1 <= Number(maxPages)) { %>
                <span><a href="/items/?page=<%=Number(page)+1%>">next ></a></span>
            <% } %>
        </div>
    </div>
<%- include('../partials/footer') %>
