<%- include('../partials/header') %>
    <div class="container">
        <div class="row">
            <% items.forEach(item => { %>
                <div class="card" style="width: 15rem;">
                    <img src="/images/items/<%=item.imageUrl%>" class="card-img-top img-thumbnail" alt="item image">
                    <div class="card-body">
                      <h5 class="card-title"><%=item.itemname%></h5>
                      <p class="card-text"><%=item.description%></p>
                      <a href="/items/<%=item._id%>" class="btn btn-primary">View</a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
<%- include('../partials/footer') %>